<!DOCTYPE html>

<!--指定应用程序的 入口模块-->
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="lib/angular.js"></script>
</head>
<body ng-controller="homeController">

<p>
    <label for="title-input">标题:</label>
    <input id="title-input" type="text" ng-model="book.title">
</p>

<p>
    <label for="price-input">价格:</label>
    <input id="price-input" type="number" ng-model="book.price">
</p>

<button ng-click="toSave(book)">保存</button>

<!--遍历 保存的数据-->
<!--track by 可以解决在遍历数组的时候  出现重复内容 会报错的情况 （angular在遍历数组的时候 会给每一个内容加一个$$hashkey，用于区分是不是重复的内容 ） 可以通过一个唯一的标识  让angular查看是不是 有重复的 track by item.id track by $index-->
<!--需要注意 ：如果对数组进行排序  track by需要写在排序的后面-->
<div ng-repeat="item in books track by $index">
    <h1 ng-bind="item.title"></h1>
    <p ng-bind="item.price"></p>
    <hr>
</div>


<script src="js/models.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/app.js"></script>
</body>
</html>